@{
    var numeroFilas = 12;
    var numeroColumnas = 10;
}

<table class="border">
    <tr class="border">
        <td class="border">
            X
        </td>
        @for (int i = 1; i <= numeroColumnas; i++)
        {
            <td class="border">@i</td>
        }
    </tr>
    @for (int i = 1; i <= numeroFilas; i++)
    {
        <tr>
            <td class="border">@i</td>
            @for (int j = 1; j <= numeroColumnas; j++)
            {
                <td class="border">@(i * j)</td>
            }
        </tr>
    }
</table>
