@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Ejercicio03.Models.clsPersona

<p>Nombre: </p>
<input type="text" name="nombre"/>

<p>Apellidos: </p>
<input type="text" name="apellidos" />

<p>Teléfono: </p>
<input type="text" name="tlfno" />
