@model TuProyecto.Models.Mision

@{
    ViewBag.Title = "Index";
}

<h2>Selecciona una misión</h2>
@using (Html.BeginForm("VerDetalles", "Mision", FormMethod.Post))
{
    @Html.DropDownList("IdMision", (SelectList)ViewBag.Misiones, "Selecciona una misión")
    <input type="submit" value="Ver detalles" />
}

<div id="detallesMision">
    @Html.Partial("Detalles")
</div>