/* Estilos para el fondo con degradado */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lucida Sans Unicode';
}

body{
	height: 100vh;
	width: 100%;
}

.container{
	content: '';
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	background: linear-gradient(143deg,#0575E6, #02298A) no-repeat center;
	background-size: cover;
}

.contact-box{
	width: 1200px;
	height: 800px;
	border-radius: 15px;
	justify-content: top;
	align-items: top;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
	
}

.container-table{
	overflow-y: auto;
}

/* Clase para aplicar un marco a la imagen */
.foto-marco {
    border: 2px solid #0575E6;
    padding: 5px;
}

/* Clase para hacer la imagen circular */
.foto-circular {
    border-radius: 50%;
    width: 75px; /* Ajusta el tamaño según sea necesario */
    height: 75px; /* Ajusta el tamaño según sea necesario */
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid black;
	height: 40px;
}

th {
	background-color: #f2f2f2;
	position: sticky;
}

tr:last-child td {
	border-bottom: none;
}
